{% extends "base.html" %}

{% block content %}

<div class="card bg-base-100 shadow-xl max-w-xl mx-auto">

<div class="card-body">

<h2 class="card-title">

{% if user %}
Modifier utilisateur
{% else %}
Créer utilisateur
{% endif %}

</h2>

<form method="POST" enctype="multipart/form-data">

{% csrf_token %}

<div class="form-control mb-4">

<label class="label">
Nom utilisateur
</label>

{{ form.username }}

</div>

<div class="form-control mb-4">

<label class="label">
Téléphone
</label>

{{ form.telephone }}

</div>

<div class="form-control mb-4">

<label class="label">
Rôle
</label>

{{ form.role }}

</div>

<div class="form-control mb-4">

<label class="label">
Photo
</label>

{{ form.photo }}

</div>

<div class="form-control mb-4">

<label class="label">
Mot de passe
</label>

{{ form.password }}

</div>

<button class="btn btn-primary w-full">
Enregistrer
</button>

</form>

</div>

</div>

{% endblock %}